<div class="table-header">
    <div>
        <h2>Shopping Cart</h2>
    </div>
    <app-icon-button class="buttons-container" iconType="checkout"
        (onClickButton)="onClickCheckoutButton.emit(orderProducts)"></app-icon-button>
</div>

<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Namne</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orderProduct of orderProducts">
            <td>{{ orderProduct.product.category }}</td>
            <td>{{ orderProduct.product.name }}</td>
            <td>${{ orderProduct.product.price }}</td>
            <td>
                <div class="quantity-container">
                    <input type="number" [(ngModel)]="orderProduct.quantity" min="1">
                </div>
            </td>
            <td>
                <div class="button-container">
                    <app-icon-button iconType="remove"
                        (onClickButton)="onRemoveButtonClick(orderProduct)"></app-icon-button>
                </div>
            </td>
        </tr>
    </tbody>
</table>