<div class="product-details-body">

    <div class="details-header">
        <div class="details-header">
            <h2>Add A Product</h2>
        </div>
    </div>

    <form [formGroup]="productForm" class="product-form">
        <div class="form-field">
            <mat-label>Name:</mat-label>
            <mat-form-field appearance="outline">
                <input matInput type="text" id="name" formControlName="name" />
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-label>Category:</mat-label>
            <mat-form-field appearance="outline">
                <input matInput type="text" id="category" formControlName="category" />
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-label>Image URL:</mat-label>
            <mat-form-field appearance="outline">
                <input matInput type="text" id="image" formControlName="image" />
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-label>Price:</mat-label>
            <mat-form-field appearance="outline">
                <input matInput type="number" id="price" formControlName="price" min="1" />
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-label>Description:</mat-label>
            <mat-form-field appearance="outline">
                <textarea matInput id="description" formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="buttons-container">
            <button mat-button color="warn" (click)="cancel.emit()">Cancel</button>
            <button mat-button color="primary" (click)="this.insertProduct.emit()" [disabled]="!productForm.valid">Save</button>
        </div>
    </form>

</div>
