button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove {
    background-color: red;
}

.checkout {
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: large;
    align-self: center;

}