<div class="table-header">
  <div>
    <h2>Product List</h2>
  </div>
  <div class="buttons-container">
    <button class="main-button" (click)="navigateToShoppingCart()"> CART
    </button>
    <button class="main-button"> ADD
    </button>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.category }}</td>
      <td>{{ product.name }}</td>
      <td>${{ product.price }}</td>
      <td>
        <div class="button-container">
          <a class="arrow-button" routerLink="/product/{{product.id}}">
            <i class="arrow-icon"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>