.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.main-button {
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px;
  height: fit-content;
  font-size: large;
  align-self: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.arrow-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
}

.arrow-icon {
  display: block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
}